@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    padding: 20px;
    min-height: 100vh;
    background-color: rgb(234, 242, 255);
}

input {
    display: block;
    width: 95%;
    padding: 10px 45px;
    background: white url("../assets/search-icon.svg") no-repeat 15px center;
    background-size: 15px 15px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#navigator_custom {
  display: flex;
  height: 10%;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

#header_custom {
  display: flex;
  height: 10%;
  margin: 0 auto;
  padding: 5% 38% 2%;

  font-weight: normal;
}

#header_h1 {
  display: block;
  font-size: 2em;
  font-family: "Arial Black";
  font-weight: bold;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0.03, rgb(42,24,173)),
    color-stop(0.52, rgb(42,24,190)),
    color-stop(0.76, rgb(42,24,255))

);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

#footer_custom {
  height: 10%;
  margin: 30px auto;
  text-align: center;
  color: lightgrey;
  font-weight: normal;
}